@media screen and (prefers-color-scheme: dark) {
    p {
      color: #fff;
    }
  }
  
  .custom-video-size {
    width: 100%;
  }

  .navbar {
    border-bottom: 2px solid rgb(255, 230, 0);
  }
  
  
  