@media screen and (prefers-color-scheme: dark) {
    p {
      color: #fff;
    }
  }
  
  .custom-video-size {
    width: 100%;
  }

  .navbar {
    border-bottom: 2px solid rgb(255, 230, 0);
  }

  #updates-area {
    background-color: #343a40; /* Use the same color as the navbar */
    padding: 20px;
    border-radius: 10px;
    color: #ffffff; /* Set the text color to white */
  }

  .card {
    background-color: #343a40;
    color: #fff;
  }
  
  .card-title {
    color: #fff;
  }
  
  .card-text {
    color: #d9d9d9;
  }
  
  .btn {
    background-color: #fff;
    color: #343a40;
  }
  
  .btn:hover {
    background-color: #d9d9d9;
    color: #fff;
  }
  
  